<div class="structure-settings-container">
  <h1>Configuration des Paramètres de Structures</h1>

  <form [formGroup]="structureSettingsForm" (ngSubmit)="onSubmit()">
    <table>
      <thead>
        <tr>
          <th>Paramètre</th>
          <th>Valeur</th>
        </tr>
      </thead>
      <tbody formArrayName="settings">
        <tr *ngFor="let structureSettingControl of settingControls; let i = index" [formGroupName]="i">
          <td>
            <label>{{ structureSettingControl.value.nameFr }}</label>
            <div class="description">
              <em>{{ structureSettingControl.value.description }}</em>
            </div>
          </td>
          <td>
            <ng-container [ngSwitch]="isBoolean(structureSettingControl.value.value)">
              <ng-container *ngSwitchCase="true">
                <input type="checkbox" formControlName="value" [checked]="structureSettingControl.value.value"
                  (change)="onBooleanChange($event, i)" />
              </ng-container>
              <ng-container *ngSwitchDefault>
                <input type="number" formControlName="value" min="0.01" step="0.01" />
              </ng-container>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="submit">Sauvegarder les Paramètres</button>
  </form>
</div>
