<mat-nav-list>
  <a mat-list-item routerLink="/" routerLinkActive="active">
    <span>Accueil</span>
  </a>
  <a mat-list-item routerLink="create-levels" routerLinkActive="active">
    <span>Niveaux</span>
  </a>
  <a mat-list-item routerLink="/create-engrams" routerLinkActive="active">
    <span>Engrammes</span>
  </a>
  <a mat-list-item routerLink="/create-level-multiplier" routerLinkActive="active">
    <span>Multiplicateurs de niveau</span>
    </a>
    <a mat-list-item routerLink="/create-dino-spawn-weight-multiplier" routerLinkActive="active">
      <span>Reproduction des dinosaures</span>
    </a>
    <a mat-list-item routerLink="/create-breeding-settings" routerLinkActive="active">
      <span>Paramètres de reproduction</span>
    </a>
    <a mat-list-item routerLink="/create-dino-settings" routerLinkActive="active">
      <span>Paramètres des dinosaures</span>
    </a>
    <a mat-list-item routerLink="/create-gameplay-settings" routerLinkActive="active">
      <span>Paramètres de jeu</span>
    </a>
    <a mat-list-item routerLink="/create-farming-settings" routerLinkActive="active">
      <span>Paramètres de récolte</span>
    </a>
    <a mat-list-item routerLink="/create-loot-settings" routerLinkActive="active">
      <span>Paramètres de butin</span>
    </a>
    <a mat-list-item routerLink="/create-player-settings" routerLinkActive="active">
      <span>Paramètres des joueurs</span>
    </a>
    <a mat-list-item routerLink="/create-pvp-settings" routerLinkActive="active">
      <span>Paramètres PvP</span>
    </a>
    <a mat-list-item routerLink="/create-pve-settings" routerLinkActive="active">
      <span>Paramètres PvE</span>
    </a>
    <a mat-list-item routerLink="/create-recipe-settings" routerLinkActive="active">
      <span>Paramètres de recettes</span>
    </a>
    <a mat-list-item routerLink="/create-resource-settings" routerLinkActive="active">
      <span>Paramètres de ressources</span>
    </a>
    <a mat-list-item routerLink="/create-structure-settings" routerLinkActive="active">
      <span>Paramètres de structures</span>
  </a>
  <a mat-list-item routerLink="/create-engram-settings" routerLinkActive="active">
    <span>Paramètres d'engrammes</span>
  </a>
  <a mat-list-item routerLink="/create-xp-settings" routerLinkActive="active">
    <span>Paramètres d'expérience</span>
  </a>
  <a mat-list-item routerLink="/create-dlc-genesis-settings" routerLinkActive="active">
    <span>Paramètres du DLC Genesis</span>
  </a>
  <a mat-list-item routerLink="/create-object-config" routerLinkActive="active">
    <span>Configuration des Objets</span>
  </a>
  <a mat-list-item routerLink="/create-config-file" routerLinkActive="active">
    <span>Créer un Fichier de Configuration</span>
  </a>
</mat-nav-list>
