<mat-nav-list>
  <a mat-list-item routerLink="/" routerLinkActive="active">
    <span>Accueil</span>
  </a>
  <a mat-list-item routerLink="create-levels" routerLinkActive="active">
    <span>Création des niveaux</span>
  </a>
  <a mat-list-item routerLink="/create-engrams" routerLinkActive="active">
    <span>Création des engrammes</span>
  </a>
  <a mat-list-item routerLink="/create-level-multiplier" routerLinkActive="active">
    <span>Création des multiplicateurs de niveau</span>
  </a>
</mat-nav-list>
